.main{
    width: 100%;
    height: 100dvh;
    background: #3a8d92;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
    
}
.calculator>form>div>input{
    border: none;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: aliceblue;
    margin: 10px;
    cursor: pointer;
    transition: 300ms;
}
.calculator>form>div>input:hover{
    background: red;
}
.display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    
}
[name="display"]{
    text-align: right;
    flex: 1;
    font-size: 45px !important;
    box-shadow: none !important;
}
[value="=" ]{
    width: 145px !important;
    
}
@media screen and (max-width: 374px) {
    .calculator>form>div>input{
        width: 50px;
        height: 50px;
        border-radius: 10px;
        font-size: 15px; 
        margin: 7px;
        cursor: pointer;
    }
    [value="=" ]{
        width: 115px !important;
        
    }
    .calculator{
       
        padding: 10px;
        
    }
  }
  @media screen and (min-width: 667px) {
    .calculator>form>div>input{
        width: 70px;
        height: 40px;
        border-radius: 10px;
        font-size: 15px; 
        margin: 8px;
        cursor: pointer;
    }
    [value="=" ]{
        width: 115px !important;
        
    }
    .calculator{
       
        padding: 6px;
        
    }
  }